:root {
  --header-background: #22577A;
}

.main {
  padding: 0 1.5rem;
}
.error {
  padding: 20px;
  background-color: #F45B69;
  color: white;
}

.header {
  height: 120px;
  width: 100%;
  background-color: var(--header-background);
  color: #FFF;
  font-size: 48px;
  padding:30px
}

.container-box {
  margin: 30px;
}

.react-loading-skeleton {
  margin: 10px 25px;
}

.card-content {
  cursor: pointer;
}

